<div class="container p-4">
    <div class="row">
        <form action="/links/test" method="post">
        <div class="boton">
        {{#each questions}}
        <div class="container mt-4 border">
            <div class="form-check">
                <p>Pregunta :  {{question}}</p>
                <input class="form-check-input" type="checkbox" name="{{id}}" value="{{answer_correct}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{ answer_correct }}
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{id}}"value="{{answer_incorrect_one}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{answer_incorrect_one}}
                </label>
            </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox"name="{{id}}"value="{{answer_incorrect_two}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{answer_incorrect_two}}
                </label>
            </div>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" name="{{id}}" value="{{answer_incorrect_three}}" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    {{answer_incorrect_three}}
                </label>
            </div>
        </div>
        {{/each}}
        <button type="submit" class="btn btn-primary mt-4">Enviar</button>
        </div>
        </form>
    </div>
</div>